.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}







.icon-close{
	background:url('../../../images/ico/close.gif') no-repeat center center;
}

.icon-right{
	background:url('../../../images/ico/right.gif') no-repeat center center;
}
.icon-wrong{
	background:url('../../../images/ico/wrong.gif') no-repeat center center;
}
.icon-excel{
	background:url('../../../images/ico/excel.gif') no-repeat center center;
}

.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}

.icon-004{
	background:url('../../../images/ico/004.gif') no-repeat center center;
}
.icon-005{
	background:url('../../../images/ico/005.gif') no-repeat center center;
}

.icon-006{
	background:url('../../../images/ico/006.gif') no-repeat center center;
}
.icon-007{
	background:url('../../../images/ico/007.gif') no-repeat center center;
}
.icon-008{
	background:url('../../../images/ico/008.gif') no-repeat center center;
}
.icon-009{
	background:url('../../../images/ico/009.gif') no-repeat center center;
}
.icon-010{
	background:url('../../../images/ico/010.gif') no-repeat center center;
}
.icon-011{
	background:url('../../../images/ico/011.gif') no-repeat center center;
}
.icon-012{
	background:url('../../../images/ico/012.gif') no-repeat center center;
}
.icon-013{
	background:url('../../../images/ico/013.gif') no-repeat center center;
}
.icon-014{
	background:url('../../../images/ico/014.gif') no-repeat center center;
}
.icon-015{
	background:url('../../../images/ico/015.gif') no-repeat center center;
}
.icon-016{
	background:url('../../../images/ico/016.gif') no-repeat center center;
}
.icon-017{
	background:url('../../../images/ico/017.gif') no-repeat center center;
}
.icon-018{
	background:url('../../../images/ico/018.gif') no-repeat center center;
}
.icon-019{
	background:url('../../../images/ico/019.gif') no-repeat center center;
}
.icon-020{
	background:url('../../../images/ico/020.gif') no-repeat center center;
}
.icon-021{
	background:url('../../../images/ico/021.gif') no-repeat center center;
}
.icon-022{
	background:url('../../../images/ico/022.gif') no-repeat center center;
}
.icon-023{
	background:url('../../../images/ico/023.gif') no-repeat center center;
}
.icon-024{
	background:url('../../../images/ico/024.gif') no-repeat center center;
}
.icon-025{
	background:url('../../../images/ico/025.gif') no-repeat center center;
}
.icon-026{
	background:url('../../../images/ico/026.gif') no-repeat center center;
}
.icon-027{
	background:url('../../../images/ico/027.gif') no-repeat center center;
}
.icon-028{
	background:url('../../../images/ico/028.gif') no-repeat center center;
}
.icon-029{
	background:url('../../../images/ico/029.gif') no-repeat center center;
}
.icon-030{
	background:url('../../../images/ico/030.gif') no-repeat center center;
}
.icon-031{
	background:url('../../../images/ico/031.gif') no-repeat center center;
}
.icon-032{
	background:url('../../../images/ico/032.gif') no-repeat center center;
}
.icon-033{
	background:url('../../../images/ico/033.gif') no-repeat center center;
}
.icon-034{
	background:url('../../../images/ico/034.gif') no-repeat center center;
}
.icon-035{
	background:url('../../../images/ico/035.gif') no-repeat center center;
}
.icon-036{
	background:url('../../../images/ico/036.gif') no-repeat center center;
}
.icon-037{
	background:url('../../../images/ico/037.gif') no-repeat center center;
}
.icon-038{
	background:url('../../../images/ico/038.gif') no-repeat center center;
}
.icon-039{
	background:url('../../../images/ico/039.gif') no-repeat center center;
}
.icon-040{
	background:url('../../../images/ico/040.gif') no-repeat center center;
}
.icon-003{
	background:url('../../../images/ico/003.gif') no-repeat center center;
}
.icon-075{
	background:url('../../../images/ico/075.gif') no-repeat center center;
}
.icon-093{
	background:url('../../../images/ico/093.gif') no-repeat center center;
}
.icon-094{
	background:url('../../../images/ico/094.gif') no-repeat center center;
}

.icon-103{
	background:url('../../../images/ico/103.gif') no-repeat center center;
}
.icon-197{
	background:url('../../../images/ico/197.gif') no-repeat center center;
}
.icon-198{
	background:url('../../../images/ico/198.gif') no-repeat center center;
}
.icon-199{
	background:url('../../../images/ico/199.gif') no-repeat center center;
}
.icon-200{
	background:url('../../../images/ico/200.gif') no-repeat center center;
}
.icon-201{
	background:url('../../../images/ico/201.gif') no-repeat center center;
}

.icon-225{
	background:url('../../../images/ico/225.gif') no-repeat center center;
}
.icon-234{
	background:url('../../../images/ico/234.gif') no-repeat center center;
}
.icon-236{
	background:url('../../../images/ico/236.gif') no-repeat center center;
}

.icon-063{
	background:url('../../../images/ico/063.gif') no-repeat center center;
}
.icon-247{
	background:url('../../../images/ico/247.gif') no-repeat center center;
}
.icon-313{
	background:url('../../../images/ico/313.gif') no-repeat center center;
}
.icon-332{
	background:url('../../../images/ico/332.gif') no-repeat center center;
}
.icon-333{
	background:url('../../../images/ico/333.gif') no-repeat center center;
}
.icon-334{
	background:url('../../../images/ico/334.gif') no-repeat center center;
}
.icon-335{
	background:url('../../../images/ico/335.gif') no-repeat center center;
}
.icon-336{
	background:url('../../../images/ico/336.gif') no-repeat center center;
}
.icon-337{
	background:url('../../../images/ico/337.gif') no-repeat center center;
}
.icon-338{
	background:url('../../../images/ico/338.gif') no-repeat center center;
}
.icon-339{
	background:url('../../../images/ico/339.gif') no-repeat center center;
}

.icon-340{
	background:url('../../../images/ico/340.gif') no-repeat center center;
}
.icon-341{
	background:url('../../../images/ico/341.gif') no-repeat center center;
}
.icon-343{
	background:url('../../../images/ico/343.gif') no-repeat center center;
}
.icon-344{
	background:url('../../../images/ico/344.gif') no-repeat center center;
}
.icon-345{
	background:url('../../../images/ico/345.gif') no-repeat center center;
}
.icon-346{
	background:url('../../../images/ico/346.gif') no-repeat center center;
}


.icon-staff{
	background:url('../../../images/ico/staff.png') no-repeat center center;
}
.icon-good{
	background:url('../../../images/ico/good.png') no-repeat center center;
}
.icon-save{
	background:url('../../../images/ico/save.png') no-repeat center center;
}
.icon-pre{
	background:url('../../../images/ico/page-prev.gif') no-repeat center center;
}
.icon-next{
	background:url('../../../images/ico/page-next.gif') no-repeat center center;
}

/* -------- custom ------- */
.icon-add{background:url('../../../images/icon/add.gif') no-repeat center center;}
.icon-add2{background:url('../../../images/icon/add2.png') no-repeat center center;}
.icon-add3{background:url('../../../images/icon/add3.png') no-repeat center center;}
.icon-add4{background:url('../../../images/icon/add4.png') no-repeat center center;}
.icon-alarm{background:url('../../../images/icon/alarm.png') no-repeat center center;}
.icon-alarm2{background:url('../../../images/icon/alarm2.png') no-repeat center center;}
.icon-alarm3{background:url('../../../images/icon/alarm3.gif') no-repeat center center;}
.icon-arrow-down-b{background:url('../../../images/icon/arrow-down-b.png') no-repeat center center;}
.icon-arrow-down-x{background:url('../../../images/icon/arrow-down-x.png') no-repeat center center;}
.icon-arrow-down2{background:url('../../../images/icon/arrow-down2.gif') no-repeat center center;}
.icon-arrow-left-x{background:url('../../../images/icon/arrow-left-x.png') no-repeat center center;}
.icon-arrow-left{background:url('../../../images/icon/arrow-left.gif') no-repeat center center;}
.icon-arrow-left2{background:url('../../../images/icon/arrow-left2.gif') no-repeat center center;}
.icon-arrow-left3{background:url('../../../images/icon/arrow-left3.gif') no-repeat center center;}
.icon-arrow-right-x{background:url('../../../images/icon/arrow-right-x.png') no-repeat center center;}
.icon-arrow-right{background:url('../../../images/icon/arrow-right.gif') no-repeat center center;}
.icon-arrow-right2{background:url('../../../images/icon/arrow-right2.gif') no-repeat center center;}
.icon-arrow-right3{background:url('../../../images/icon/arrow-right3.gif') no-repeat center center;}
.icon-arrow-top-x{background:url('../../../images/icon/arrow-top-x.png') no-repeat center center;}
.icon-arrow-up-a{background:url('../../../images/icon/arrow-up-a.png') no-repeat center center;}
.icon-arrow-up-b{background:url('../../../images/icon/arrow-up-b.png') no-repeat center center;}
.icon-arrow-up-c{background:url('../../../images/icon/arrow-up-c.png') no-repeat center center;}
.icon-arrow-up{background:url('../../../images/icon/arrow-up.gif') no-repeat center center;}
.icon-arrow-up2{background:url('../../../images/icon/arrow-up2.gif') no-repeat center center;}
.icon-attach{background:url('../../../images/icon/attach.gif') no-repeat center center;}
.icon-cale{background:url('../../../images/icon/cale.png') no-repeat center center;}
.icon-chart{background:url('../../../images/icon/chart.gif') no-repeat center center;}
.icon-chart{background:url('../../../images/icon/chart.gif2.png') no-repeat center center;}
.icon-chart{background:url('../../../images/icon/chart.gif3.gif') no-repeat center center;}
.icon-chart{background:url('../../../images/icon/chart.gif4.png') no-repeat center center;}
.icon-clock-blue{background:url('../../../images/icon/clock-blue.gif') no-repeat center center;}
.icon-clock-orange{background:url('../../../images/icon/clock-orange.gif') no-repeat center center;}
.icon-collect{background:url('../../../images/icon/collect.png') no-repeat center center;}
.icon-copy{background:url('../../../images/icon/copy.gif') no-repeat center center;}
.icon-delete{background:url('../../../images/icon/delete.png') no-repeat center center;}
.icon-delete2{background:url('../../../images/icon/delete2.png') no-repeat center center;}
.icon-delete4{background:url('../../../images/icon/delete4.png') no-repeat center center;}
.icon-download{background:url('../../../images/icon/download.gif') no-repeat center center;}
.icon-download2{background:url('../../../images/icon/download2.png') no-repeat center center;}
.icon-edit{background:url('../../../images/icon/edit.gif') no-repeat center center;}
.icon-edit2{background:url('../../../images/icon/edit2.gif') no-repeat center center;}
.icon-edit3{background:url('../../../images/icon/edit3.gif') no-repeat center center;}
.icon-edit4{background:url('../../../images/icon/edit4.gif') no-repeat center center;}
.icon-edit5{background:url('../../../images/icon/edit5.png') no-repeat center center;}
.icon-edit6{background:url('../../../images/icon/edit6.gif') no-repeat center center;}
.icon-edit7{background:url('../../../images/icon/edit7.gif') no-repeat center center;}
.icon-err{background:url('../../../images/icon/err.png') no-repeat center center;}
.icon-err2{background:url('../../../images/icon/err2.png') no-repeat center center;}
.icon-err3{background:url('../../../images/icon/err3.png') no-repeat center center;}
.icon-err4{background:url('../../../images/icon/err4.png') no-repeat center center;}
.icon-err5{background:url('../../../images/icon/err5.png') no-repeat center center;}
.icon-err6{background:url('../../../images/icon/err6.png') no-repeat center center;}
.icon-err7{background:url('../../../images/icon/err7.png') no-repeat center center;}
.icon-file-excel{background:url('../../../images/icon/file-excel.gif') no-repeat center center;}
.icon-file-pdf{background:url('../../../images/icon/file-pdf.gif') no-repeat center center;}
.icon-file-word{background:url('../../../images/icon/file-word.gif') no-repeat center center;}
.icon-help{background:url('../../../images/icon/help.png') no-repeat center center;}
.icon-home{background:url('../../../images/icon/home.gif') no-repeat center center;}
.icon-key{background:url('../../../images/icon/key.gif') no-repeat center center;}
.icon-key2{background:url('../../../images/icon/key2.png') no-repeat center center;}
.icon-list{background:url('../../../images/icon/list.gif') no-repeat center center;}
.icon-list2{background:url('../../../images/icon/list2.png') no-repeat center center;}
.icon-loading{background:url('../../../images/icon/loading.gif') no-repeat center center;}
.icon-loading2{background:url('../../../images/icon/loading2.gif') no-repeat center center;}
.icon-mail{background:url('../../../images/icon/mail.png') no-repeat center center;}
.icon-mail2{background:url('../../../images/icon/mail2.png') no-repeat center center;}
.icon-mail3{background:url('../../../images/icon/mail3.png') no-repeat center center;}
.icon-mail4{background:url('../../../images/icon/mail4.png') no-repeat center center;}
.icon-mail5{background:url('../../../images/icon/mail5.png') no-repeat center center;}
.icon-mail6{background:url('../../../images/icon/mail6.png') no-repeat center center;}
.icon-mail7{background:url('../../../images/icon/mail7.png') no-repeat center center;}
.icon-message-blue{background:url('../../../images/icon/message-blue.gif') no-repeat center center;}
.icon-message-pink{background:url('../../../images/icon/message-pink.gif') no-repeat center center;}
.icon-message{background:url('../../../images/icon/message.png') no-repeat center center;}
.icon-pin-blue{background:url('../../../images/icon/pin-blue.gif') no-repeat center center;}
.icon-pin-red{background:url('../../../images/icon/pin-red.gif') no-repeat center center;}
.icon-print{background:url('../../../images/icon/print.gif') no-repeat center center;}
.icon-query{background:url('../../../images/icon/query.png') no-repeat center center;}
.icon-query2{background:url('../../../images/icon/query2.gif') no-repeat center center;}
.icon-query3{background:url('../../../images/icon/query3.gif') no-repeat center center;}
.icon-query4{background:url('../../../images/icon/query4.gif') no-repeat center center;}
.icon-recycle{background:url('../../../images/icon/recycle.png') no-repeat center center;}
.icon-right1{background:url('../../../images/icon/right1.png') no-repeat center center;}
.icon-right2{background:url('../../../images/icon/right2.png') no-repeat center center;}
.icon-right3{background:url('../../../images/icon/right3.png') no-repeat center center;}
.icon-save{background:url('../../../images/icon/save.gif') no-repeat center center;}
.icon-save2{background:url('../../../images/icon/save2.png') no-repeat center center;}
.icon-setting{background:url('../../../images/icon/setting.png') no-repeat center center;}
.icon-stamp{background:url('../../../images/icon/stamp.gif') no-repeat center center;}
.icon-tag-green{background:url('../../../images/icon/tag-green.gif') no-repeat center center;}
.icon-tag-orange{background:url('../../../images/icon/tag-orange.gif') no-repeat center center;}
.icon-tag-pink{background:url('../../../images/icon/tag-pink.gif') no-repeat center center;}
.icon-tag-purple{background:url('../../../images/icon/tag-purple.gif') no-repeat center center;}
.icon-tag-yellow{background:url('../../../images/icon/tag-yellow.gif') no-repeat center center;}
.icon-tip{background:url('../../../images/icon/tip.png') no-repeat center center;}
.icon-upload{background:url('../../../images/icon/upload.gif') no-repeat center center;}
.icon-user{background:url('../../../images/icon/user.gif') no-repeat center center;}
.icon-refresh{background:url('../../../images/icon/refresh.png') no-repeat center center;}
.icon-refresh1{background:url('../../../images/icon/refresh1.png') no-repeat center center;}
.icon-user2{background:url('../../../images/icon/user2.gif') no-repeat center center;}
.icon-user3{background:url('../../../images/icon/user3.gif') no-repeat center center;}